/* .character-container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #e6ffe6; 
    font-family: 'Pilser';
    background-image: url('/assets/CBackground.gif');
    font-family: 'Pilser';
    background-size: cover;
    display: inline-block;
} */

.detail {
    background-color: #fdfff2;
    width: 100%;
    min-height: 100vh;
}

.plant-main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 20px; */
    font-size: 2rem;
    padding-top: 7vh;
    padding-bottom: 8vh;
    font-family: "PilserBold", sans-serif;
}

.plant-image {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px;
}

.plant-health {
    display: flex;
    font-family: "PilserBold", sans-serif;
    flex-direction: column;
    align-items: center;
}

.moisture,
.sunlight,
.temperature {
    max-width: 80vw;
}

.loading {
    padding-left: 3vh;
    font-size: 1.4rem;
}

.device-not-found,
.data-not-found {
    padding-left: 3vh;
    font-size: 1.4rem;
}

.plant-health-title {
    margin-bottom: 3vh;
    font-size: 2rem;
}

.meter {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    position: relative;
    border: 1px solid black;
}

.level {
    margin-top: 0;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

.bar-heading {
    display: flex;
    gap: 2vh;
    align-items: center;
}
.question-icon {
    cursor: pointer;
    color: #d67f7f;
}

.vibration-button {
    align-items: center;
    margin-top: 0.2vh;
    width: 10vh;
    height: 5vh;
    font-size: 1.5rem;
}

.vibration-heading {
    font-size: 2rem;
}

.tip-content {
    padding-bottom: 20px;
    border-radius: 5px;
    max-width: 90%;
}

.tip-content button {
    align-items: center;
}
