.pest-detail-container {
    text-align: center;
}

.pest-image-container {
    margin: 20px auto;
}

.pest-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pest-detail-container h1.title {
    text-align: center;
    font-size: 2rem;
    color: #4f8453;
}

.pest-detail-container h2 {
    align-items: center;
    font-size: 1.5rem;
    color: #4f8453;
    margin-top: 20px;
}

.pest-detail-container p {
    margin-bottom: 9vh;
    margin-left: 5vw;
    text-align: justify;
    width: 90vw;
    font-family: "PilserLight", sans-serif;
    font-size: 1rem;
    color: #333;
}
