.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bacd92;
    padding: 1vh;
    font-family: "PilserBold", sans-serif;
}

.menu-icon,
.search-icon,
.back-icon {
    font-size: 4vh;
    margin: 0;
}

.title {
    font-size: 3vh;
    font-weight: bold;
    color: #7d9778;
}
