/* .bar-heading {
    background-color: #e0e0e0;
}

.question-icon {
    align-items: center;
    margin: 50vh;
    cursor: pointer;
    color: #d67f7f;
}
  
.level {
    height: 100%;
    transition: width 0.5s ease-in-out;
}

  
.tip-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.tip-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
}
  
.tip-content button {
    align-items: center;
}
  */