.plant-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    padding: 5vh;
}

.question-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #e57373;
    font-size: 24px;
    background-color: white;
    border-radius: 50%;
}
