#root {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: "Pilser";
    src: url("./assets/Pilser.otf") format("opentype");
}

@font-face {
    font-family: "PilserBold";
    src: url("./assets/PilserBold.otf") format("opentype");
}

@font-face {
    font-family: "PilserLight";
    src: url("./assets/PilserLight.otf") format("opentype");
}

body {
    font-family: "Pilser", sans-serif;
    margin: 0;
    padding: 0;
}
